.header {
    background-color: #1f2937;
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
}

ul, a {
    list-style-type: none;
    color: white;
    text-decoration: none;
    margin: 0;
    gap: 16px
}

.right_links {
    display: flex;
    gap: 15px;
}